*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    display: flex;
    justify-content: center;;
}

body {
    background-color: rgb(46, 46, 46);
    color: white;
}

h1{
    text-align: center;
    margin-top: 300px;
}

#enviar{
    border-radius: 3px;
    background-color: rgb(27, 27, 27);
    color: white;
    border: none;
    width: 70px;
    height: 50px;
    margin-left: 0;
    margin-top: 20px;
    margin-left: -2px;
}

#enviar:hover{
    background-color: white;
    color: black;
    height: 49px;
    border-radius: 0 3px 3px 0;
}

#resposta{
    width: 200px;
    height: 50px;
    margin-top: 20px;
    font-size: 30px;
    border-radius: 3px;
    background-color: rgb(27, 27, 27);
    color: white;
    border: none;
}

#resposta:hover{
    border: none;
}

#escondido{
    background-color: rgb(33, 33, 33);
    padding: 20px;
    border-radius: 3px;
    position: absolute;
    top: 50px;
    left: -220px;
}